/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   responsive.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: mtaylor <marvin@42.fr>                     +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/03/26 19:36:54 by mtaylor           #+#    #+#             */
/*   Updated: 2019/03/26 19:36:56 by mtaylor          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.num {
	font-size: 1vw;
	font-style: italic;
	text-align: right;
	padding: 5px;
	text-shadow: .2vw .2vw .5vw;
}
.elem {
	border: 2px solid black;
	padding: 3px;
	position: relative;
	width: 5vw;
	height: 5vw;
	box-shadow: .7vw .7vw .5vw;
}
.extension {
	border: 1px solid black;
	box-shadow: .7vw .7vw .5vw;
	font-family: serif;
	font-style: italic;
	font-size: 1.2vw;
	transform: rotate(20deg);
}

#noble_gas				{ background: #DFBD1C; }
#alkali_metal			{ background: #e5593f; }
#alkaline_earth_metal	{ background: #0D7EAB; }
#metalloid				{ background: #BF636F; }
#reactive_nonmetal		{ background: #CBC8E3; }
#transition_metal		{ background: #99D7F0; }
#post-transition_metal	{ background: #C5DE8A; }
#lanthanide				{ background: #ECCA9B; }
#actinide				{ background: #DA8659; }
#unknown				{ background: gray; }

.symbol {
	font-size: 1.9vw;
	font-style: bold;
}
.atomic_number {
	font-size: 0.8vw;
	bottom: 0.1vw;
	left: 0.1vw;
	position: absolute;
}
.atomic_weight {
	font-size: 0.8vw;
	top: 0.1vw;
	right: 0.1vw;
	position: absolute;
}